#skills > p {
	text-align: center;
}
    
#skills-icons {
	text-align: center;
        
    figure {
        display: inline-block;
            
        img {
            margin-bottom: 15px;
            }
        }
}
