@media all and (max-width: 768px) {
    #container {
        width: 30%;
        margin: auto 0;

    }

    #first {
        height: 400px;
        position: relative;
    }

    #text {
        display: block;
        width: 100%;
        margin-top: -350px;
    }

    #text > h3,
    p {
        font-size: 15px;
        letter-spacing: 2px;
        margin-left: 10px;
    }

    #yellow {
        height: 400px;
        width: 3vw;
    }

    #yellow > p {
        margin-top: 200px;
    }

    #text .none .fa-circle {
        display: none;
    }

    button {
        position: absolute;
        top: 35vh;
        left: 20px;
        width: 90vw;
        height: 40px;
    }

    .fa-eye {
        position: absolute;
        top: 60px;
        right: 30px;
    }

    #table {
        position: absolute;
        top: 250px;
        left: 15vw;

    }

    #table h2 {
        font-size: 20px;
    }

    #line {
        position: absolute;
        left: 20vw;
        top: 15vh;
    }

    #table-second {
        position: absolute;
        top: 250px;
        left: 50vw;
    }

    #table-second h2 {
        font-size: 20px;
    }

    #table-third {
        position: absolute;
        top: 250px;
        left: 80vw;
    }

    #table-third h2 {
        font-size: 20px;
    }

    #table-another {
        display: none;
    }

    #line2 {
        display: none;
    }

    #line3 {
        display: none;
    }

    #horizontal-line {
        width: 88vw;
        border-bottom: 1px solid gray;
        position: absolute;
        top: 50vh;
        opacity: 0.5;
        left: 40px;
    }

}



@media (min-width: 768px) and (max-width: 1200px) {

    #first {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .fa-eye,
    .fa-balance-scale {
        width: 100%;
    }


}