#main-nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
    z-index: 2;

    .toggle,
    [id=drop] {
        display: none;
    }

    ul {
        margin: 0;
        float: right;

        li {
            display: inline-block;
            list-style: none;
            padding: 20px 40px;

            a {
                color: #1ac056;
                text-decoration: none;
                font-weight: 300;
            }

            a:hover {
                color: #291f1a;
            }
        }
    }
}