/* BASE */

body {
    color: #111171;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-weight: 900;
}

h2,
h2+p {
    text-align: center;
}

h2+p {
    padding-bottom: 40px;
}

section {
    padding-bottom: 80px;
    padding-top: 50px;
}

/* MAIN NAVIGATION */
.main-nav {
    background: transparent;
    border: none;
    text-align: right;
}

.main-scroll {
    background: #fff;
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.2);
    transition: all ease .5s;

}

.main-nav ul.links>li>a {
    color: #fff;
}

.main-nav ul.links>li>a:hover {
   font-weight: 700;
}


/* HEADER */

.header {
    background-attachment: fixed;
    background-color: black;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header img,
.header .header-content {
    position: absolute;
    transform: translate(-50%, -50%);
}

.header img {
    top: 50%;
    left: 50%;
    animation: flying 3s ease-in-out alternate-reverse infinite;
}

.header .header-content {
    top: 70%;
    left: 48%;
}

.header .header-content h1,
.header .header-content p {
    color: #fff;
    text-shadow: 1px 1px 19px #000;
    margin: 0;
}

.header .header-content h1 {
    font-family: 'Passion One', cursive;
    font-size: 12vw;
    text-align: center;
    transform: matrix(1.5, 0, 0, 1, 0, 0);
}

.header .header-content p {
    font-size: 2.5vw;
    margin: -3vw;
    text-align: right;
}


/* ABOUT */

.about h3,
.about p {
    text-align: center;
}


/* FUTURE */

#future {
    background-color: rgba(0, 47, 111, 0.08);
}

#future .future-item {
    text-align: center;
    box-sizing: border-box;
    padding: 30px 80px;
    
}

#future .future-item .future-item-icon {
    text-align: center;
    height: 150px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 150px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 50%;
    
}

#future .future-item .future-item-icon i {
    font-size: 90px;
    height: 100%;
    line-height: 150px;
    width: 100%;
}


#future .future-item h4 {
    text-transform: uppercase;
    font-weight: 900;
}

#future .future-item:hover .future-item-icon #icon-1 {
    animation: angle 2s ease-in-out infinite;
}

#future .future-item:hover .future-item-icon #icon-2 {
    animation: rotateCog 3s linear infinite;
}

#future .future-item:hover .future-item-icon #icon-3 {
    animation: heart 1.5s ease-in-out infinite;
}


/* ELEMENTS */

.elements .element-item {
    height: 400px;
    margin-bottom: 20px;
}

.elements .element-item .element-photo {
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.elements .element-item #element-1 {
    background-image: url(../img/fire-2777580__340.jpg);
}

.elements .element-item #element-2 {
    background-image: url(../img/2.jpg);
}

.elements .element-item #element-3 {
    background-image: url(../img/pointed-flower-3151857__340.jpg);
}

.elements .element-item #element-4 {
    background-image: url(../img/Depositphotos_12269549_original.jpg);
}

.elements .element-item .element-photo .element-item-mask,
.elements .element-item .element-photo .element-item-mask .element-item-mask-inner,
.elements .element-item .element-photo .element-item-mask .element-item-mask-inner .element-item-mask-content {
    position: absolute;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.elements .element-item:hover .element-photo .element-item-mask,
.elements .element-item:hover .element-photo .element-item-mask .element-item-mask-inner,
.elements .element-item:hover .element-photo .element-item-mask .element-item-mask-inner .element-item-mask-content {
    opacity: 1;
}

.elements .element-item .element-photo .element-item-mask {
    background-color: rgba(15, 15, 33, 0.8);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.elements .element-item .element-photo .element-item-mask .element-item-mask-inner {
    border: 1px solid #fff;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.elements .element-item .element-photo .element-item-mask .element-item-mask-inner .element-item-mask-content {
    color: #fff;
    text-align: center;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.elements .element-item .element-photo .element-item-mask .element-item-mask-inner .element-item-mask-content h3 {
    color: #f2e118;
}

.elements .element-item .element-photo .element-item-mask .element-item-mask-inner .element-item-mask-content a {
    color: #fff;
    font-weight: 700;
    font-size: .7em;
    text-transform: uppercase;
}

.elements .element-item .element-photo .element-item-mask .element-item-mask-inner .element-item-mask-content a:after {
    content: '\f135';
    font-family: 'FontAwesome';
    padding: 0 5px;
}

.elements .element-item .element-photo .element-item-mask .element-item-mask-inner .element-item-mask-content a:hover {
    color: #f2e118;
    text-decoration: none;
}


/* GALLERY */

.gallery {
    padding: 0;
   
}



/* MORE INFORMATION */

.more-info {
    text-align: center
}

.more-info input {
    width: 300px;
    background-color: #a8a8a8;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}

.more-info input:hover {
    background-color: #5b5e83;
    color: #fff;
}


/* CONTACT */

.contact {
    background-color: #01013b;
    color: #fff;
    text-align: center;
}

.contact input:not([type="submit"]),
.contact select {
    height: 50px;
}

.contact input:not([type="submit"]),
.contact select,
.contact textarea {
    background-color: #1f1f52;
    border: none;
    color: #a0a0a0;
    margin: 20px 0px;
}

.contact input:not([type="submit"]):focus,
.contact select:focus,
.contact textarea:focus {
    background-color: #111141;
    border: 1px solid #1f1f52;
}

.contact textarea {
    resize: none;
    height: 190px;
}

.contact input[type="submit"] {
    background-color: #d36c46;
    height: 50px;
    width: 200px;
    margin: 20px;
    font-size: 1.2em;
    transition: all .2s ease-in-out;
}

.contact input[type="submit"]:hover {
    background: #fff;
    border: 1px solid #d36c46;
    color: #d36c46;
}


/* FOOTER */

.footer {
    background-color: #0a0a24;
    color: #b2b2b2;
    text-align: right;
}

.footer p {
    padding: 10px 20vw;
    margin-bottom: 0;
}

.footer p a {
    color: #b2b2b2;
    margin-left: 10px;
}

.footer p a:hover {
    color: #d36c46;
}




/* ANIMATIONS */

@keyframes flying {
    from { transform: translate(-50%, -49%); }
    to { transform: translate(-51%, -52%); }
}

@keyframes angle {
    0% { margin-top: 150px; }
    50% { margin-top: -10px; }
    55% { margin-top: 10px;  }
    100% { margin-top: -150px; }
}

@keyframes rotateCog {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes heart{
    from { transform: scale(1.2); }
    to { transform: scale(1); }
}