html {
    font-family: arial;
}

button {
    margin: 0 auto;
    display: block;
    background-color: #fff;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 20px;
    font-family: arial;
    transition: .3s;
}

button:hover {
    background-color: #000;
    color: #fff;
}

div {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: cornflowerblue;
    margin: 10px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}