body {
    margin: 10px;
}

#container {
	background-color: brown;
    width: 500px;
    height: 250px;
    position: relative;
 
}

#naglowek {
    color: white;
    text-align: center;
    position: absolute;
    top: 90px;
    left: 100px;
   
}

#naglowek span {
    opacity: 0;
    animation: loading 3s linear infinite alternate; 
}

@keyframes loading {
    to {
         opacity: 1;
    }
}

#naglowek span:nth-child(1) {
    animation-delay: 0.10s;
}

#naglowek span:nth-child(2) {
    animation-delay: 0.20s;
}

#naglowek span:nth-child(3) {
    animation-delay: 0.30s;
}

#naglowek span:nth-child(4) {
    animation-delay: 0.40s;
}

#naglowek span:nth-child(5) {
    animation-delay: 0.50s;
}

#naglowek span:nth-child(6) {
    animation-delay: 0.60s;
}

#naglowek span:nth-child(7) {
    animation-delay: 0.70s;
}

#naglowek span:nth-child(8) {
    animation-delay: 0.80s;
}

#naglowek span:nth-child(9) {
    animation-delay: 0.90s;
}

#naglowek span:nth-child(10) {
    animation-delay: 1s;
}

#naglowek span:nth-child(11) {
    animation-delay: 1.10s;
}

#naglowek span:nth-child(12) {
    animation-delay: 1.20s;
}

    