body {
    line-height: 100vh;
    font-size: 60px;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

span.counter {
    font-weight: bold;
}

button:nth-last-of-type(1) {
    position: fixed;
    top: 40px;
    right: 50px;
}

button:nth-last-of-type(2) {
    position: fixed;
    top: 40px;
    left: 50px;
}